# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
commands:
  print_pipeline_id:
    description: "A very simple command for demonstration purposes"
    steps:
      - run: echo $CIRCLE_WORKFLOW_ID
# Orchestrate or schedule a set of jobs
jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo "text to save" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths: 
            - output.txt
  print_output_file:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          at: ~/
      - run: cat ~/output.txt
  print_command:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id
  failed_job:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: 
        name: Upload Failed Tests
        command: return 1
        when: on_fail
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - print_command
      - save_hello_world_output
      - print_output_file:
          requires: 
            - save_hello_world_output
      - failed_job